
$white : #F0F0F0;
$background-green : #A8D574;
$span-grey :#343434;
$black : #000000;
$svg-grey : #707070;
$mark-orange :#FF521A;
$word-grey :#F0F0F0;
$ps : #FFD065;


.red {
    width: 200px;
    height: 300px;
    background-color: aqua;
    color: crimson;
}
